body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
   
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
   
}
.title{
    text-align:center;
    font-family:'Estrangelo Edessa';
    font-size:60px;
    padding:20px;
    background-color:crimson;
    color:white;
    border-bottom:dotted white 5px;
}
.create{
    text-align:center;
    padding-bottom:20px;
}
.reviewBox{
    border:double crimson;
    padding:10px;
    font-family:Gisha;

    min-height:525px;
    margin-bottom:10px;
}
.media-heading{
    font-size:30px;
}
a{
    color:crimson;
}
a:hover{
    color:deeppink;
    text-decoration:none;
}
.btn-default{
    border-color:crimson;
}
.btn-default:hover{
    border-color:crimson;
    background-color:deeppink;
}
.navbar-inverse .navbar-nav > li > a{
    color:white;
}
.details{
    text-align:center;
    font-family:'Angsana New';
    font-size:80px;
    color:white;
    border-bottom:dotted white;
}
.review{
    text-align:center;
    font-family:'Angsana New';
    font-size:50px;
    margin-top:0px;
    color:white;
}
.detailBody{
    background-color:lightpink;
    padding:20px;
    margin-top:10px;
}
.detailPage{
    text-align:center;
    font-family:'Comic Sans MS';
    color:deeppink;
}
.link{
    border:double white;
    max-width:300px;
    text-align:center;
}